body {
    background-color:#f5eccd;
    margin: 0px;
    font-size: 1.4vw;
    color: #424106;
}

body > section {
    width: 75%;
    margin: auto;
}

header {
    text-align: center;
    text-decoration: none;
    width: 50%;
    margin: auto;
}

#logo {
    max-width: 21vw;
    height: auto; 
}

#nav-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-right: 50px;
}


.navbutton {
    color: #6d4930;
    text-decoration: none;
    padding: 12px;
    border: 1px solid #707c4f;
    border-radius: 5%;
}


h1 {
    text-align: center;
    background-color: #a4b07e;
    border-radius: 4%;
    padding: 0.5%;
}

#ingredients {
    text-align: left;
    margin: 0px;
}

#image_recipe_1 {
    width: 15vw;
    height: auto;
    float: right;
    border-radius: 4%;
    margin-left: 2%;
    margin-bottom: 5px;
}

#image_recipe_2 {
    width: 20vw;
    height: auto;
    float: right;
    border-radius: 4%;
    margin-bottom: 2px;
}

#image_recipe_3 {
    width: 20vw;
    height: auto;
    float: right;
    border-radius: 4%;
    margin-bottom: 5px;
}

.google-map {
    padding-bottom: 1%;
    position: relative;
    text-align: center;
}

.google-map iframe {
    max-width: 70vw;
    max-height: 70vw; 
    align-content: center;
}

hr {
    border-color: #a4b07e;
    width: 80%;
    margin: auto;
}

footer {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    flex-direction: row;
    justify-content: space-evenly;
}

footer > #logo {
    max-width: 10vw;
    height: auto;
    margin-left: 50vh;
}

#footer-ul {
    display: flex;
    list-style: none;

}

#footer-ul > div > li > a {
    color: #6d4930;
    text-decoration: none;
    margin-left: 10vh;
}



